@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf6ed
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 0px 1.5px #f0e3ce, 2px -2px 0px 0px #f8eddb, -3px 3px 6px 3px #f8eddb, 2px -2px 4px 1px #f8eddb;
  background-color: #ffffff;
}

.login {
  margin: 0 auto;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 50%;
}

.log-header {
  padding: 20px;  
  text-align: center;
  margin-bottom: 35px;
}

.login-select {
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 300;
  border-radius: 3px;
}

.btn {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.btn-select {
  margin-bottom: 30px;
  background-color: #F8A253;
}

.btn-create{
  padding: 10px 50px;
  background-color: #fe8c00;
  color: #dbd4d4;
  
}

/*  New Poll */

.newPoll {
  background-color: #FFFCF9;  
  background-image:  radial-gradient( circle at top right,#53f8d4,#f3f2f1 );
}

.poll-container{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
  border-radius: 50% 20%;
  background: -webkit-linear-gradient(135deg, #4cd7e0 10% 55%,  #5f66f8 100%);
}



.poll-form {
  width: 100%;
  margin: 0 auto;
}

.text-area {
  width: 60%;
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 50px;
}


/* Fonts */
.log-header-font {
  font-size: 30px;
  font-weight: 400;
  background: -webkit-linear-gradient(135deg, #da8d35 0%, #175a63 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.head-poll {
  font-style: oblique;
  color: rgba(20,30,48,1);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}


/* Uitility classes*/
p {
  font-weight: 300;
}

.center {
  text-align: center;
}

.u-margin{
  margin: 0;
}

.u-margin-small{
  margin-bottom: 10px;
}

.u-font-small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}