@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff9ee
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #F8A253; */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 0px 1.5px #f0e3ce, 2px -2px 0px 0px #f8eddb, -3px 3px 6px 3px #f8eddb, 2px -2px 4px 1px #f8eddb;
  background-color: #ffffff;
}

.login {
  margin: 0 auto;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 50%;
}

.log-header {
  padding: 20px;  
  text-align: center;
  margin-bottom: 35px;
}

.login-select {
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 300;
  border-radius: 3px;
}

.btn {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;

}

.btn-select {
  margin-bottom: 30px;
  background-color: #F8A253;
}

/* Fonts */
.log-header-font {
  font-size: 30px;
  font-weight: 400;
  background: -webkit-linear-gradient(135deg, #da8d35 0%, #175a63 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

p {
  font-weight: 300;
}

