@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf6ed
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 0px 1.5px #f0e3ce, 2px -2px 0px 0px #f8eddb, -3px 3px 6px 3px #f8eddb, 2px -2px 4px 1px #f8eddb;
  background-color: #ffffff;
}

.login {
  margin: 0 auto;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 50%;
}

.log-header {
  padding: 20px;  
  text-align: center;
  margin-bottom: 35px;
}

.login-select {
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 300;
  border-radius: 3px;
}

.btn {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.btn-select {
  margin-bottom: 30px;
  background-color: #F8A253;
}

.btn-create{
  padding: 10px 50px;
  background-color: #fe8c00;
  color: #dbd4d4;
  
}

/*  New Poll */

.newPoll {
  background-color: #FFFCF9;  
  background-image:  radial-gradient( circle at top right,#53f8d4,#f3f2f1 );
}

.poll-container{
  width: 60%;
  margin: 50px auto;
  /* margin-bottom: 40px; */
  padding: 15px 15px 35px 15px;
  text-align: center;
  border-radius: 20% 35%;
  background: -webkit-linear-gradient(135deg, #67DEF8 10% 55%,  #B9D9C4 100%);
}



.poll-form {
  width: 100%;
  margin: 0 auto;
}

.text-area {
  width: 60%;
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 30px;
}


/* Fonts */
.log-header-font {
  font-size: 30px;
  font-weight: 400;
  background: -webkit-linear-gradient(135deg, #da8d35 0%, #175a63 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.head-poll {
  font-style: oblique;
  color: rgba(20,30,48,1);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 50px;
}


/* Uitility classes*/
p {
  font-weight: 300;
}

.center {
  text-align: center;
}

.u-margin{
  margin: 0;
}

.u-margin-small{
  margin-bottom: 10px;
}

.u-font-small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.u-font-head-small {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0;;
}


/* Leader board*/

.leaderboard-container {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 20px;
}


.leader-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 1.5px solid #da8d35;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #ffffff;
}

.leader-avatar {
  flex: 1 0 auto;
  text-align: center;
  border-right: 1.5px solid #da8d35;
  border-right-style: dotted;
  margin-right: 30px;
}

.leader-qa {
  flex: 1 0 auto;
  text-align: justify;
}

.leader-score {
  flex: 1 0 auto;
  text-align: center;
  border: 1.5px solid #da8d35;
  border-radius: 40% 20%;

}

.avatar {
  height: 60px;
  border-radius: 50px;
  margin: 10px;
}

.leader-name {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.score-head {
  border-bottom: 1.5px solid #da8d35;
  margin-top: 0;
  padding: 10px 0px;
}
.score {
  width: 20%;
  background-color: #F8A253;
  border-radius: 40% 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
}


/* --------------Navigation----------------- */

.active {
  font-weight: bold;
 
}

.nav {
  margin-bottom: 50px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  color: #175a63;
}

li > a {
  text-decoration: none;
  padding-bottom: 2px;
  color: #175a63;
  transition: all 0.1ms;
}

li > a:hover {
  color: #da8d35;
}

.nav li:nth-last-child(3) {
  margin-right: 30px;
}

li > .btn-logout {
  background-color: #F8A253;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}


 


